// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #20a8d8;
$secondary: #a4b7c1;
$success: #4dbd74;
$info: #63c2de;
$warning: #ffc107;
// $danger: #f86c6b;
$danger: #e3342f;
$light: #f0f3f5;
$dark: #29363d;

$gray-100: #f0f3f0;
$gray-200: #c2cfd6;
$gray-300: #a4b7c1;
$gray-400: #869fac;
$gray-500: #678898;
$gray-600: #536c79;
$gray-700: #3e515b;
$gray-800: #29363d;
$gray-900: #151b1e;

// Body
// $body-bg: #424242;
// $body-bg: #245599;
// $body-bg: #363435;
$body-bg: #E0E0E0;

//Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;